<html>
<head>Make a Code!</head>

<body>
  <h1> Ceasar's Cipher Generator </h1>

  <form>
    Entry: <input type='text' name='entry' />
    Shift: <input type='number' name='shift' />
    <input type ='submit' value='Code!' />
  </form>

  <h3>Here is your code: </h3>

  <p>
    <%= code %>
  </p>

</body>

</html>
